<div class="success alert pad">
    <i class="fa fa-star"></i>
    <p>Hello, you can now preview a pdf. <span id="try-it" ><a href="/books/616c0c6815f09600043a452b">Try it!</a></span> </p>
    <div>
        <i onclick="hideAlert()" class="fa fa-times"></i>
    </div>
</div>