<div class="header_parent">
    <header>
        <div  class="header_child">
            <h1 id="brand_name"><a href="/">BookPedia</a></h1>
            <form action="/books?name=" method="post" name="search-book" id="search-book">
                <div id="input_field">
                    <label for="search"></label>
                    <input onfocus="handleFocus('#search')" type="text" id="search" placeholder="Search for course">
                    <i class="fas fa-search"></i>
                </div>
                <div class="suggestions hide">
                    <div class="suggestion_child">
                        <div class="loader_parent hide">
                            <div class="lds-roller">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                            <p class="hide" id="no_result">No Result Found</p>
                        </div>
                        <div class="suggested_courses hide">
                            <ul id="sug">                                
                                {{!-- <li>
                                    <a href="#">
                                        <p>mth110</p>
                                    </a>
                                </li> --}}
                            </ul>
                        </div>
                    </div>
                </div>
            </form>
            <div class="upl-btn-parent">
                <a id="upl-btn" href="/upload">Upload A Book</a>
            </div>
        </div>
    </header>
</div>