<section>
    <div class="exp-book-parent">
        <article id="exp-article">
            <div class="exp-img">
                <img src="/pdf-demo-pic.jpg" alt="pdf image">
            </div>
            <div class="exp-metadata">
                <div id="exp-name">
                    <h1>MTH237</h1>
                </div>                    
                <div class="exp-details">
                    <ul>
                        <li>300 Pages</li>
                        <li>Oct 2021</li>
                        <li>10.4 MB</li>
                        <li>20,450 Downloads</li>
                    </ul>
                </div>
                <div>
                    <div class="exp-desc">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur fugit quam doloremque doloribus veritatis! Dolor, natus nisi. Nostrum cumque nam rerum, iusto recusandae perferendis nobis officia minima maxime ut impedit in nihil quod at tempora nesciunt delectus aperiam ullam suscipit autem! Illo quidem quam, ut reiciendis officia doloribus officiis pariatur iste quos expedita sed id laborum earum, inventore blanditiis hic voluptate! Molestiae aliquid quos beatae tenetur temporibus inventore eveniet consequatur.</p>
                    </div>
                </div>
                <div id="dwn-parent">
                    <a class="dwn-btn" href="#">
                        <button>
                            Download
                        </button>
                    </a>
                </div>
            </div>
        </article>
    </div>
</section>