<main>
    <form class="upload" action="/" enctype="multipart/form-data" method="post">
        <div id="form-header">
            <h1>Upload form</h1>
        </div>
        <hr>
        <div class="main">
            {{#if flashMsg}}
            <div class="flash-msg" role="alert">
                {{#if success}}
                    <p class="success"> <span><i class="fas fa-check"></i></span> Successfully uploaded pdf </p>                  
                {{else}}
                    <p class="error"> <span><i class="fas fa-exclamation-circle"></i></span> Failed to upload pdf, Please try again </p>                   
                {{/if}}
            </div>
            {{/if}}
            <div class="name-parent">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" required>            
            </div>
            <div class="input-parent">
                <label for="pdf">Upload Pdf</label>
                <input id="pdf" type="file" name="pdf">
            </div>
            <button id="btn" type="submit">Submit</button>
        </div>
    </form>
</main>

<a href="/download">Test</a>
<!-- <a href="https://res.cloudinary.com/mctursh/image/upload/fl_attachment/v1632169724/n156rwcpaijxgm6qvstu.pdf" download="test">Test</a> -->
