<form action="/" enctype="multipart/form-data" method="post">
    <label for="name">Name</label>
    <input type="text" name="name" id="name">
    <label for="pdf">Pdf</label>
    <input id="pdf" type="file" name="pdf">
    <button id="btn" type="submit">Submit</button>
</form>

<a href="/download">Test</a>
<!-- <a href="https://res.cloudinary.com/mctursh/image/upload/fl_attachment/v1632169724/n156rwcpaijxgm6qvstu.pdf" download="test">Test</a> -->
