<main class="pad">
    <form class="upload" action="/upload" enctype="multipart/form-data" method="post">
        <div id="form-header">
            <h1>Upload Book</h1>
        </div>
        <hr>
        <div class="main">

            {{!-- Success flash Messages --}}
            {{#if success}}
            <div class="flash-msg" role="alert">
            {{#each successMsg}}
                <p class="success"> <span><i class="fas fa-check"></i></span> {{ this }} </p>
            {{/each}}                
            </div>
            {{/if}}

            {{!-- Failure flash message --}}
            {{#if failure}}
            <div class="flash-msg" role="alert">
            {{#each failureMsg}}
                <p class="error"> <span><i class="fas fa-exclamation-circle"></i></span> {{ this }} </p>
            {{/each}}                
            </div>
            {{/if}}
            <div class="name-parent">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" required>            
            </div>
            <div class="name-parent">
                <label for="desc">Description</label>
                <textarea name="desc" id="desc" cols="30" rows="10" required></textarea>
                {{!-- <input type="text" name="name" id="name" required>             --}}
            </div>
            <div class="input-parent">
                <label for="pdf">Upload Pdf</label>
                <input id="pdf" type="file" name="pdf" required>
                <p id="max-file" >Max file size 10MB</p>
            </div>
            <button id="btn" type="submit">Submit</button>
        </div>
    </form>
</main>
