*{
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Raleway',
  sans-serif;
  position: relative;
}

section{
  min-height: 70vh;
}



/***************************** MEDIA QUERY *************************/
@media only screen and (max-width: 1160px) {
  .pad {
    padding: 1em 10em;
  }
  li{
    font-size: .7em;
  }
  .exp-details ul{
    gap: .5em;
  }
  .exp-desc p{
    font-size: .9em;
  }
}
@media only screen and (max-width: 940px) {
  .pad {
    padding: 1em 5em;
  }
}
@media only screen and (max-width: 790px) {
  .pad {
    padding: 1em 2em;
  }
}
@media only screen and (max-width: 700px) {
  #brand_name{
    font-size: 1.5em;
  }
  #input_field{
    padding: 0 .7em;
  }
  .header_child input{
    width: 14em;
  }
  #upl-btn{
    font-size: .8em;
    padding: .5em 1em;
  }
  
  .exp-img img{
    width: 100%;
  }
  #exp-article{
    flex-direction: column;
  }
  .exp-desc p {
    font-size: .8em;
  }
  form.upload{
    width: 80%;
    margin: 2em auto;
    border-radius: 10px;
  }
}
@media only screen and (max-width: 580px) {
  section {
    min-height: 500px;
  }

  header{
    padding-bottom: 0 !important;
    padding-top: 0 !important;
  }
  .header_child{
    display: none;
  }
  aside{
    position: absolute;
    height: 100vh;
    width: 70%;
    left: 0;
    top: 0;
    background-color: #fff;
    color: #000;
    padding: 2em;
    display: flex;
    gap: 2em;
    flex-direction: column;
    box-shadow: 0 0 4px 0 rgb(0 0 0 / 10%),
    0 4px 8px 0 rgb(0 0 0 / 15%);
    background-color: #E6E6E6;
  }
  .aside-header{
    grid-template-columns: 1fr 2fr 1fr;
    display: grid;
    align-items: center;
    color: #14279B;
  }
  .aside-header h3{
    justify-self: center;
    font-size: 1.5em;
  }
  .aside-header i{
    justify-self: left;
    font-size: 1.5em;
  }
  aside ul li{
    list-style: none;
    font-size: 1em;
  }

  aside a{
    color: #14279B;
    display: flex;
    align-items: center;
    gap: 1em;
    text-decoration: none;
  }

  .fa-search, .fa-bars, .fa-times{
    color: #fff;
    font-size: 1.5em;
    width: 20px;
  }
  .header_child_mobile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 61px;
  }
  .header_child_mobile button, .aside-header button{
    background: inherit;
    color: inherit;
    border: none;
  }
  .aside-header button{
    text-align: left;
  }
  .exp-img {
    height: 21em;
  }
}

@media only screen and (max-width: 450px) {
  .pad{
    padding: 1em;
  }
  .detail ul{
    gap: .3em;
    font-size: .9em;
  }
  .description p{
    font-size: .7em;
  }
  #feed-img {
    width: 75px;
  }
  .search-form{
    width: 13em;
    
  }
  .name-parent,
  .input-parent{
    padding: 1em 0;
  }
  .exp-img img {
    width: 100%;
  }
}