.exp-book-parent {
    padding: 3em 15em;
}

#exp-article {
    min-height: 20em;
}

.exp-img img {
    width: 280px;
    height: 100%;
    border-radius: 10px;
}

.exp-metadata {
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

#exp-name {
    font-size: 2em;
    line-height: 1.2;
    letter-spacing: 1px;
}

.exp-details ul {
    display: flex;
    gap: 3em;
    list-style: none;
    font-size: 1.2em;
}

.exp-desc p {
    line-height: 1.5;
    letter-spacing: .3px;
}

#dwn-parent {
    height: 100%;
    display: flex;
    align-items: end;
    gap: 1em;
}

.dwn-btn {
    border: none;
    background-color: #5C7AEA;
    border-radius: 6px;
    height: 55px;
    padding: 0 1em;
    display: flex;
    text-decoration: none;
    justify-content: center;
}

.dwn-btn button {
    font-size: 1.2em;
    color: $white;
    font-weight: 600;
    text-decoration: none;
    background: inherit;
    border: none;
    cursor: pointer;
}



/************************************************************CANVA STYLING*************************************************/

.pdf-prev-parent {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 85%;
    border-radius: 6px;
    z-index: 11;
    width: 70%;
    max-width: 80%;
}

.pdf-prev-parent .header {
    background-color: $bg-grey;
    color: black;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    border-radius: 12px 12px 0 0
}

.container {
    height: 100%;
}

.canva-parent {
    margin-top: 3rem;
    overflow: scroll;
    height: 100%;
    width: 100%;
    background-color: $bg-grey;
    display: flex;
    justify-content: center;
    border-radius: 0 0 12px 12px;
    padding-bottom: 0.5em;
}

#prev-page,
#next-page,
.clear {
    display: flex;
    border: none;
    padding: 0.2rem 0.7rem;
    outline: none;
    /* background: darkkhaki;
    color: $white; */
    border-radius: 3px;
    align-items: center;
    justify-content: center;
}

canvas {
    padding: 0 0.5rem 0.3rem;
    background-color: $bg-grey;
    width: 100%;
    height: 100%;
    overflow: scroll;
    border-radius: 0 0 12px 12px;
}

#curr-num {
    width: 2.5em;
    text-align: right;
    outline: none;
}

.khaki {
    background-color: #eee019;
}

.khaki:hover {
    cursor: pointer;
    opacity: .9;
}

.magnify {
    margin-left: 3rem;
    display: flex;
    /* column-gap: 0.3em; */
    align-items: baseline;
}

.magnify button {
    border: none;
}

.mag-btn {
    width: 20px;
    height: 23px;
    border-radius: 2px;
    cursor: pointer;
}

.clear {
    align-items: baseline;
    gap: 0.3em;
    margin-left: auto;
}

#preview-btn {
    font-size: 1.2em;
    font-weight: 600;
    text-decoration: none;
    border: none;
    cursor: pointer;
    padding: 0 1em;
    background-color: #eee019;
    border-radius: 6px;
    height: 55px;
}

#preview-btn:disabled {
    cursor: not-allowed;
}

.mag-btn:hover {
    background-color: #a9a9a9;
    color: $white;
}

.magnify button:nth-of-type(3) {
    /* padding: 0 1em 0 0.3em; */
    /* background-color: #bdb76b; */
    /* color: $white; */
    border-radius: 4px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-grow: 1; */
    width: 54px;
    height: 23px;
}

.blur> :not(.pdf-prev-parent) {
    filter: blur(4px);
}

.ovf {
    overflow: scroll;
}

.r-ovf {
    overflow: inherit;
}




/* ANIMATION */
.fadeInUpCustom {
    animation-name: fadeInUpCustom;
}

.fadeOutDownCustom {
    animation-name: fadeOutDownCustom;
}


@keyframes fadeInUpCustom {
    0% {
        opacity: 0;
        transform: translate(-50%, 0);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -54.5%);
    }
}

@keyframes fadeOutDownCustom {
    0% {
        opacity: 1;
        transform: translate(-50%, -54.5%);
    }

    100% {
        opacity: 0;
        transform: translate(-50%, 0);
    }
}