footer {
    background-color: $bg-blue;
    box-shadow: 1px 1px 4px $black;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
    width: 100%;
}

.footer-parent {
    font-size: .8em;
}